version: 2
jobs:
  build:
    working_directory: ~/dtck
    docker:
      - image: circleci/python:3.6.4
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DATABASE_URL: postgresql://root@localhost/circle_test?sslmode=disable
          REDIS_URL: redis://localhost:6379
          DEBUG: True
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
      - image: redis
    steps:
      - checkout
      - run: sudo apt-get update -y && sudo apt-get install -y libmemcached-dev zlib1g-dev
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            sudo pip install -r requirements.txt
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
      - run:
          command: |
            python manage.py test
  deploy:
    working_directory: ~/dtck
    docker:
      - image: docker:stable-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            docker build -t hubspot-yealink -f Dockerfile.production .
            docker tag hubspot-yealink:latest datacake/hubspot-yealink:$(git describe --always)
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push datacake/hubspot-yealink:$(git describe --always)
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master